torch==2.2.0
torchaudio==2.2.0
torchvision==0.17.0

numpy==1.26.2
scipy==1.11.4
transformers==4.46.3
transformers_stream_generator==0.0.5
sentencepiece==0.2.0
accelerate==0.33.0
bitsandbytes==0.44.1
tiktoken==0.8.0
einops==0.8.0
pydantic==2.7.4
pydantic-settings==2.6.1
huggingface_hub==0.24.6
python-dotenv==1.0.1
